@model Supplier

<a href="@Url.Action("Edit", "Supplier", new { id = Model.SupplierId })" class="btn btn-success">Edit Supplier</a>
<a href="@Url.Action("Index", "Supplier")" class="btn btn-info">Back to List</a>

@{
    ViewData["Title"] = "Supplier Details";
}


<h1>@ViewData["Title"]</h1>
<h2>@Model.Name</h2>

<table class="table">
    <tr>
        <th>Supplier ID</th>
        <td>@Model.SupplierId</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
</table>

<a href="@Url.Action("Delete", "Supplier", new { id = Model.SupplierId })" class="btn btn-success">Remove Supplier</a>

<h3>Products</h3>
<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.ProductId</td>
            <td>@product.Name</td>
            <td>$@product.Price.ToString("N2")</td>
            <td>
                <a href="@Url.Action("Details", "Product", new { id = product.ProductId })" class="btn btn-primary">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
