@model IEnumerable<Supplier>

@{
    ViewData["Title"] = "Suppliers";
}

<h1>Suppliers</h1>

<!-- Search Bar -->
    <form class="d-flex" method="get" asp-action="Index" asp-controller="Supplier">
        <input class="form-control me-2" type="search" name="query" placeholder="Search suppliers..." aria-label="Search" value="@ViewData["SearchQuery"]">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>
                    <a class="btn btn-outline-primary"asp-action="Details" asp-route-id="@item.SupplierId">View</a> 
                </td>
            </tr>
        }
    </tbody>