@model Product

@{
    ViewData["Title"] = "Product Details";
}




<div class="product-details-container">

    <a href="@Url.Action("Index", "Product")" class="btn btn-secondary">Back to List</a>

    <div class="details-stock-container">
    <!-- Section 1: Product Details and Image -->

    <div class="details-description-container">
    <div class="details-image-section">
        <div class="product-image">
            <img src="@Model.ImageUrl" alt="@Model.Name" />
        </div>
        <div class="product-details">
            <h1>Name: @Model.Name</h1>
            <h2>Id: @Model.ProductId</h2>
            <p>Category: @Model.Category?.Name</p>
            <h4>Price: $@Model.Price</h4>
        </div>
    </div>

    <!-- Section 2: details -->
    <div class="description-section">
        <h3>Description</h3>
        <p>@Model.Description</p>
        <p>Optimal market price: @ViewBag.PredictedPrice.ToString("F2")</p>
    </div>

    <!-- Section 3: Stock Status and Supplier -->
    <div class="stock-supplier-section">
        <h3>Stock and Supplier</h3>
        <p><strong>Stock Status:</strong> 
            @if (Model.Quantity > 0)
            {
                <span>In Stock (@Model.Quantity)</span>
            }
            else
            {
                <span class="out-of-stock">Out of Stock</span>
            }
        </p>
        <p><strong>Supplier:</strong> @Model.Supplier?.Name</p>
    </div>
    </div>
  

    <!-- Section 3: Actions -->
    <div class="actions-section">
    <h3>Actions</h3>
    <div class="action-buttons">
        <a asp-action="EditField" asp-route-id="@Model.ProductId" asp-route-field="description" class="btn btn-primary">Change Description</a>
        <a asp-action="EditField" asp-route-id="@Model.ProductId" asp-route-field="supplier" class="btn btn-primary">Change Supplier</a>
        <a asp-action="EditField" asp-route-id="@Model.ProductId" asp-route-field="price" class="btn btn-primary">Change Price</a>
        <a asp-action="EditField" asp-route-id="@Model.ProductId" asp-route-field="image" class="btn btn-primary">Change Image</a>
        <a asp-action="EditField" asp-route-id="@Model.ProductId" asp-route-field="quantity" class="btn btn-primary">Edit quantity</a>
        <a asp-action="EditField" asp-route-id="@Model.ProductId" asp-route-field="restock" class="btn btn-primary">restock</a>
        <a asp-action="Delete" asp-route-id="@Model.ProductId" asp-route-field="remove" class="btn btn-danger">Remove Product</a>
        <!--<a asp-action="ViewSales" asp-route-id="@Model.ProductId" class="btn btn-secondary">View Sales</a>-->
    </div>
</div>

</div>
